@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

    body{
        text-align: center;
        background: linear-gradient(to bottom, #6ab7f5, #ffff);
        min-height: 100vh;
    }
   
    main {
        display: inline-block;
        margin-top: 2%;
        padding: 15px;
        position: relative;
    }

    .pokemon {
        position: absolute;
        bottom: 47%;
        left: 48%;
        transform: translate(-63%, 20%);
        max-width: 20%;
        height: 17%;
        width: 500px;
    }

    .pokedex {
        width: 100%;
        max-width: 525px;
    }

    .pokemon_data {
        position: absolute;
        font-weight: 600;
        color: #aaa;
        top: 60%;
        right: 27%;
        font-size: clamp(8px, 5vw, 33px);
    }

    .pokemon_name {
        color: #18191a;
        text-transform: capitalize;
    }

    .form {
        position: absolute;
        width: 65%;
        top: 71%;
        left: 13.5%;
    }

    .input_search {
        width: 100%;
        padding: 4%;
        outline: none;
        border: 2px solid #333;
        border-radius: 5px;
        font-weight: 600;
        color: #2e2b2b;
        font-size: clamp(8px, 5vw, 1rem);
        box-shadow: -3px 3px 0px #525151, -5px 8px 0 #333;
    }